<div class="w-full">
  <div class="flex justify-center flex-wrap gap-4">
    <div class="order-last self-center ">
      <%= image_tag "burquer.jpg", class:"rounded-lg"%>
    </div>
    <div class="text-left">
      <h1 class="text-8xl font-nono text-justify"><p>Traditional</p> 
          <p class="text-yellow-400">tasty</p> 
          <p>and</p> 
          <p class="text-yellow-400">delicious</P> 
          <p>fast food</p> 
          <p class="text-yellow-400">special</P>
      </h1>
    </div>
  </div>
</div>
