<div class="flex items-center flex-row justify-around p-4 shadow-xl ">
  <h1 class="bg-clip-text text-transparent bg-gradient-to-r from-yellow-400 to-red-600"><%= link_to "Fast-food", home_index_path %></h1>
  <nav class="flex gap-4"> 
    <a ><%= link_to 'Menu', menus_path, class:"button-header"%></a>
    <a><%= link_to 'New event', new_menu_path, class:" button-header" %></a>
    <a class="button-header">sing-in</a>
    <a class="button-header">sing-up</a>
  </nav>
</div>
